html,
body {
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100px;
    padding: 0;
    width: 340px;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 15;
    color: #2e165b;
} 

section {
    width: 200px;
    height: 220px
}
